@model MVC4AndEF6WithAngular.Data.Dtos.StudentDetailsDto
<legend class="col-xs-12">
    Student Details
</legend>
<div data-ng-controller="DetailsCtrl" class="col-xs-12">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd>
            {{student.FirstMidName}}
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            {{student.LastName}}
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>

        <dd>
            {{student.EnrollmentDate}}
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrollments)
        </dt>
        <dd>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Course Title</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tr data-ng-repeat="enrollment in student.Enrollments">
                    <td>
                        {{enrollment.CourseTitle}}
                    </td>
                    <td>
                        {{enrollment.Grade | GradeFilter}}
                    </td>
                </tr>
            </table>
        </dd>
    </dl>
    <p>
        <a href="#/student/edit/@Model.Id">Edit</a> |
        <a href="#/student/list">Back to List</a>
    </p>
</div>
