@model MVC4AndEF6WithAngular.Data.Dtos.StudentDto
<div data-ng-controller="StudentCtrl">
    <div class="col-xs-12">
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstMidName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EnrollmentDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="student in students">
                    <td>
                        {{student.LastName}}
                    </td>
                    <td>
                        {{student.FirstMidName}}
                    </td>
                    <td>
                        {{student.EnrollmentDate}}
                    </td>
                    <td>
                        <a href="/#/student/edit/{{student.Id}}">Edit</a> |
                        <a href="/#/student/details/{{student.Id}}">Details</a> |
                        <a href="/#/student/delete/{{student.Id}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>